@import '_variables.scss';


* {
    margin: 0;
}
/****************navbar************************/

#header {
    
    img {
        width: 160px;
        padding-bottom: 10px;
    }
}


nav {
    display: inline-flex;
    flex-direction: row;
    height: 30px;
    padding-top: 10px;
    margin-left: 2%;
    justify-content: flex-start;

}

.menu {
    font-family: $fontfamily-txt;
    font-size: $fontsize-p - 15px;
    display: inline-flex;
    flex-direction: row;
    
    
    li {
        list-style: $nostyle;
        width: 200px;
        
        a{
            text-decoration: $nostyle;
            color: $color;
            
        }
    }
    
    .wks, .cursos, .carreras {
        visibility: collapse;
    }
}


/***********************seccion principal**********************/

#principal {
    background-image: url(../../assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    background-position: center;
    background-attachment: fixed;
    
    
    
    h2 { 
        font-family: $fontfamily-titulo, sans-serif;
        font-style: italic bold;
        text-align: center;
        font-size: $fontsize-titulo;
        
    } 
    
    p {
        width: 500px;
        font-family: $fontfamily-txt;
        padding: $fontsize-p;
        font-size: $fontsize-p;
        background-color: rgba(119,222,205,0.4);
        padding: 0;
        margin-left: 30%;
        margin-top: 5%;
    }
    
    ul{
        text-align: left;
        font-size: $fontsize-p - 5px;
        padding-top: 2%;
        font-family: $fontfamily-txt;
        font-weight: bold;
        color: $bkc;
    }

}


/*************************************seccion profesores***************************/

#profesores {
    
     h2 { 
        font-family: $fontfamily-titulo, sans-serif;
        font-style: italic bold;
        text-align: center;
        font-size: $fontsize-titulo;
        margin-top: 2%;
        
    } 
    
    img{
        width: 166px;
    }
    
    p{
        width: 400px; 
        display: inline-block;
        font-family: $fontfamily-txt;
        font-size: $fontsize-p;
    }
    
    
}

#profesores .container{
    display: inline-flex;
    margin-left: 18%;
    margin-top: 5%;
    text-align: center;
    padding-bottom: 8%;
    }